// ============================================
// NAVIGATION - Header and menu styles
// ============================================
@use '../vars/variables' as *;

.nav-link {
    position: relative;
    transition: color $transition-base;
    font-weight: $font-weight-bold;
    color: $color-primary;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -4px;
        left: 0;
        background-color: $color-accent;
        transition: width $transition-base;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

// Mobile menu
#mobile-menu {
    &.hidden {
        display: none;
    }
}
